################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net8.0
/obj/Release/net8.0
/obj/Debug/net8.0
/obj/Debug/net8.0/Badlands.AssemblyInfo.cs
/obj/Debug/net8.0/Badlands.AssemblyInfoInputs.cache
/obj/Debug/net8.0/Badlands.assets.cache
/obj/Debug/net8.0/Badlands.csproj.AssemblyReference.cache
/obj/Debug/net8.0/Badlands.GeneratedMSBuildEditorConfig.editorconfig
/obj/Badlands.csproj.nuget.dgspec.json
/obj/Badlands.csproj.nuget.g.props
/obj/project.assets.json
/obj/project.nuget.cache
